# ===== Python =====
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtualenv (falls jemals lokal)
.venv/

.env
.env.*
# Test / Coverage
.coverage
htmlcov/
.pytest_cache/
# ===== Docker =====
*.log
# ===== Frontend =====
frontend/public/.DS_Store
frontend/public/*.map
# ===== OS / Editor =====
.DS_Store
Thumbs.db
.vscode/
.idea/

.dnd_character_sheet.egg-info/